@model StreetFood.Data.Food

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ястие:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
           Тегло
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight) грама
        </dd>
        <dt class = "col-sm-2">
            Диетично ли е ястието:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DietFood)
        </dd>
        <dt class = "col-sm-2">
            Категория:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodCategories.Name)
        </dd>
        <dt class = "col-sm-2">
            Съставки
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class = "col-sm-2">
            Снимка:
        </dt>
        <dd class = "col-sm-10">
			<img src="@Html.DisplayFor(model => model.Image)" width="200"/>
        </dd>
        <dt class = "col-sm-2">
            Цена:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) лв.
        </dd>
        <dt class = "col-sm-2">
            Дата на добавяне:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdate)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}

