@model IEnumerable<StreetFood.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Направени поръчки</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Поръчай си от тук</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Поръчана храна
            </th>
            <th>
                Клиент
            </th>
      
            <th>
                Количество
            </th>
            <th>
                Дата на промяна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> <img src="@Html.DisplayFor(modelItem => item.Foods.Image)" width="140" /></a>
                </td>
            <td>
                @item.Clients.FirstName @item.Clients.LastName
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) броя
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
